  
    #navbar .nav ul {
    justify-content: start;
    flex-direction: column; 
  }

  #navbar .nav ul li a {
    padding: 0.5rem 1rem;
  }
 

  #navbar {
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
  }
  #navbar .container {
  width: 100%;
}
#navbar .nav ul li a:hover{
        border-bottom: none;
}
#taste .container img{
   display: none;
  }

  #taste .container {
    margin: 0 -18rem;
    padding: 10px;
    grid-template-areas: 
    "taste-1"
    "taste-2"
    "taste-3"
    "taste-4";
  }

#taste div{
    margin: 0;
    height: 100%;
}
#product img{
    height: 300px;
    width: 300px;
}

#story h1{
    font-size: 2rem;
    padding: 3rem;
    animation: none;
}

#story .company-story{
    padding: 2rem;
    grid-template-columns: 1fr;
    gap: 0;
}
#story .company-story img{
    height: 100px;
    width: 200px;
    margin: 0;
}
#story .company-story div{
    width: 100%;
    height: 100%;
    margin: 0.5rem;
}
section .container{
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

section div{
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    width: 100%;
    height: auto;
}
section img{
    height: 250px;
    width: 100px; 
    margin: 0 !important;
    padding: 0 !important;
}

#product-introduce4 img {
  height: auto;
  width: 250px !important;
  object-position: center;
  object-fit: cover;
}

#product-introduce4 .domch-list{
    margin: 2rem 0 0 0 !important;
}
#product-introduce9 img{
    width: 150px;
}
section .arrow-up{
    display: none;
}
section .arrow-down{
    display: none;
}

#reserve{
    flex-direction: column;
}
.reserve-form{
    width: 100%;
    height: auto;
    padding: 3rem;
}
.map{display: none;}
footer{
    width: 100%;
    height: 300px !important;
    text-align: center;
}
footer h1{
    font-size: 60px;
    animation: none;
}